.main-container {
  height: 200px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-top: 85px;
  border-radius: 10px;
  background: no-repeat center url('../images/map.jpg');
  opacity: 0.7;
}
.input-container {
  text-align: center;
}
.search-input {
  height: 30px;
  width: 250px;
  border-radius: 10px;
  border-color: transparent;
}
.countries-logo {
  margin-top: 150px;

  text-align: center;
  font-family: futura;
  font-size: 40px;
}
.c {
  color: blue;
}
.o {
  color: red;
}
.u {
  color: orange;
}
.n {
  color: blue;
}
.t {
  color: green;
}
.r {
  color: red;
}
.rest {
  color: black;
}
.card-container {
  margin-left: 150px;
  margin-right: auto;
  color: gray;
}
